# Byte-code / Binaries
bin/
obj/

# Local databases
*.db
*.db-journal
*.db-wal

# User-specific files
*.user
*.suo
*.userossc
.vs/
.idea/
*.lnk

# Installers
Installers/
PartnerRelationManagerSetup-*.exe

# Private Assets
SRM pitch.docx
Onitio_One_Partner_KPI_Tracker.xlsx
